{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Document</title>
</head>
<body>

   <div class="head">
        
        <div class="logo">
            <a href="#">PonerLOGO</a>
        </div>

        <nav class="navbar">
            {% if user.is_authenticated %}
            <a href="index">Inicio</a>
            {% else %}{% endif %}
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
            {% if user.is_authenticated %}
            <a href="{% url 'producto' %}">Productos</a>
            {% else %}{% endif %}
            <a href="{% url 'registrarCliente' %}">Precio</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Cierre de sesion</a> {% else %}
            <a href="{% url 'login' %}">Inicio sesion</a>{% endif %}
            <a href="{% url 'registrar' %}">Registrate</a>
       
            
            
        </nav>

   </div>


   <header class="content header">
       <h2 class="title">Nosotros</h2>
       <p> 
        Trabajamos para facilitar las ventas locales como extranjeras con el respectivo estado de los productos
       </p>
       <a href="#" class="btn">Saber mas</a>
   </header>


   <section class="content sau">
       <h2 class="title">Productos</h2>
       <p> 
        Las empresas requieren de ayudas innovadoras para mejorar la venta de productos, por lo que trabajamos de la mano con empresas para tener una mayor ayuda en las ventas ya sean en masa
        </p>

        <div class="box-container">

            <div class="box">
                <i class="fab fa-facebook"></i>
                <h3>facebook</h3>
                <p>Siguenos</p>
            </div>

            <div class="box">
                <i class="fab fa-instagram"></i>
                <h3>Instagram</h3>
                <p>Siguenos</p>
            </div>

            <div class="box">
                <i class="fab fa-linkedin"></i>
                <h3>Linkedin</h3>
                <p>Siguenos</p>
            </div>

        </div>

   </section>

   <section class="content price">

        <article class="contain">

            <h2 class="title">Precio</h2>
            <p>Pioneros en la venta de productos en masa.Somos una de las primeras empresas que gestiona ventas tanto local como extrangeras!!
            </p>
            <a href="{% url 'registrarCliente' %}" class="btn">Saber precio</a>

        </article>

   </section>

   <section class="content about">
        <h2 class="title">Testimonios</h2>
        <p>
            Que dicen nuestros clientes!!
        </p>
        <div class="box-container2">
                <div class="box">
                    <img src="{% static 'img/testimonial-3.jpg' %}" alt="">
                    <h3>saaabe perro</h3>
                    <p>nasheeee</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>

            </div>

        </div>
        
   </section>

   <section class="content contact">
        <h2 class="title">Contacto</h2>

        <div class="footer-section">

            <div>
                <p>54545754</p>
            </div>

            <div class="f-enlaces">
                <a href="#">Inicio</a>
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Productos</a>
                <a href="#">Precio</a>
            </div>

            <div class="f-enlaces">
                <a href="#">Inicio</a>
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Productos</a>
                <a href="#">Precio</a>
            </div>

            <figure>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.569381154624!2d-71.21587838483825!3d-33.694212780704724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255eae610cb2f%3A0xc3fdb55ead51065b!2sDuoc%20UC%3A%20Sede%20Melipilla!5e0!3m2!1ses!2scl!4v1665412631852!5m2!1ses!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </figure>

        </div>

   </section>
   <div class="content container">


    {% block content %} {% endblock %}


</div>
</body>
</html>