{% load static %} {% block content %}{% for producto in producto %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
<div class="Pro">
    <div class="ducto">
        <div class="nombre"> estado: {{ producto.estado }} </div> <span class="infopro"> cantidad: {{ producto.cantidad }}</span>
        <img src="{{ producto.fotografia }}" alt="foto {{ producto.estado }}" />
        <span class="infopro Fondo">precio: {{ producto.precio }}</span>
    </div>
</div>

{% endfor %} {% endblock %}

